/* Styles for the Forgot Password section */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
    background: url('img/img6.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.forgot-password-container h2 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    font-size: 18px;
    border-radius: 5px;
}

.btn {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.back-link {
    margin-top: 20px;
    font-size: 16px;
    color: #007BFF;
}

.back-link a {
    text-decoration: none;
    color: #007BFF;
}
